.a_us{
  background-color: #DEF2F1;
}
.p-first
{
  color: #2B7A78;
}
#about {
  padding-top: 98px;
  padding-bottom: 101px;
}

@media screen and (max-width: 576px) {
  .shape {
    height: 200px;
    width: 200px;
  }
  .man {
    height: 100px;
    width: 100px;
    margin-top: -115px !important;
  }

  #about .about-img {
    position: relative;
  }

  #about .about-img .man {
    position: absolute;
    bottom: 16px;
    top: 15px;
    left: 15px;
    margin-top: 0px;
  }
}

#about h2 {
  margin-bottom: 47px;
  margin-top: 12px;
}

#about .social-link-text {
  margin-top: 50px;
  margin-bottom: 25px;
}

#about .about-link {
  padding-left: 0px;
}

#about .about-link li {
  display: inline-block;
}

#about .about-link li a i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border: 1px solid #d6c6b2;
  margin-right: 10px;
  font-size: 22px;
  color: #d6c6b2;
  transition: all 0.3s;
}

#about .about-link li a i:hover {
  color: #2B7A78;
  background: #d6c6b2;
  border-color: #d6c6b2;
}

#about .about-img {
  position: relative;
}

#about .about-img {
  position: relative;
}

#about .about-img .man {
  position: absolute;
  bottom: 160px;
  top: 0px;
  left: 110px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 35px;
  color: #2B7A78;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  color: #2B7A78;
}

.name{
  color: #2B7A78;
}

.text-white {
  color: white;
}



.btn-danger {
  border-radius: 0;
  padding: 10px 20px;
}

.left .content .social {
  margin: 20px 20px 20px 20px;
}
.left .content .social a {
  padding: 0 2px;
}
.social a span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border: 1px solid #2B7A78;
  margin-right: 10px;
  font-size: 22px;
  color: #2B7A78;
  transition: all 0.3s;
}
.social a span:hover {
  color: #ffffff;
  background-color: #2B7A78;
  border-color: #2B7A78;
}
